.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register {
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px;
    height: 70vh;
    width: 70vh;
}

.register-title {
    /* background-color: yellow; */
    height: 10vh;
    padding: 30px;
    font-size: x-large;
    text-align: center;
    font-weight: 800;
}

.register-content {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding: 20px;
}

.register-input {
    margin: 10px 0px;
    height: 50px;
    width: 90%;
    font-size: medium;
    border: none;
    border-bottom: 1px solid gray;
    margin-left: 18px;
    padding: 15px;
    box-sizing: border-box;
}

.register-button {
    background-color: gray;
    border: 1px solid;
    border-radius: 20px;
    height: 50px;
    width: 90%;
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin-left: 18px;
}

.register-footer {
    /* background-color: green; */
    height: 10vh;
    text-align: center;
    padding: 15px;
}

.text-login {
    color: blue;
}



